.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    box-shadow: 0 3px 0 0 rgba(44%, 44%, 44%, 0.1);
    background: #009DDC;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.desktop {
    display: none;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 56px;
    position: relative;
}
.d-flex {
    display: flex;
    justify-content: end;
    align-items: center;
}
header .phone {
    margin-right: 35px;
}
.main-wrap.show {
        max-width: 320px !important;
    }
.contact-wrap.show {
        max-width: 320px  !important;
    }
.full-container {
        background: linear-gradient(94.35deg, #009DDC 17.13%, #008AC2 82.87%);
    }
.main-page {
        padding: 106px 16px 14px;
        display: block;
    }
.main-page h1 {
        font-family: 'Raleway-Bold', serif;
        font-style: normal;
        font-size: 30px;
        line-height: 115%;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
.main-page p {
        font-family: 'OpenSans', serif;
        font-size: 15px;
        color: #FFFFFF;
        line-height: 125%;
        margin-bottom: 15px;
        width: 100%;
    }
.button {
        font-family: 'OpenSans', serif;
        border: 1px solid #F26430;
        border-radius: 5px;
        background: #F26430;
        font-size: 15px;
        line-height: 100%;
        color: #FFFFFF;
        width: 172px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 17px;
    }
.responsive-image {
        width: 100%;
    }
.holder {
        padding: 50px 16px;
    }
.bloc-left {
        width: 100%;
    }
.holder h1 {
        font-family: 'Raleway-Bold', serif;
        font-size: 16px;
        font-weight: 800;
        margin-left: 5px;
        margin-bottom: 20px;
        line-height: 130%;
        align-items: center;
    }
.holder span {
        color: #005436;
    }
.holder p span {
        font-weight: bold;
        color: black;
    }
.video-iframe {
        width: 100%;
        margin-bottom: 15px;
    }
.holder .bloc-left .button-come-back {
        font-family: 'robotobold', serif;
        background: #F26430;
        border-radius: 5px;
        width: 160px;
        height: 35px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 15px;
        line-height: 100%;
        margin: 0 auto 37px;
    }
.holder-box {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
.holder-box:last-child {
        margin-bottom: inherit;
    }
.holder-box img {
        height: 100%;
        margin-block: auto;
        margin-right: 16px;
        background: #F4F5F7;
        padding: 8px;
        border-radius: 27px;
        width: 55px;
    }
.holder-box h2 {
        font-family: 'Raleway-Bold', serif;
        color: #18191F;
        font-weight: bold;
        font-size: 14px;
        line-height: 125%;
    }
.holder-box p {
        font-family: 'OpenSans', serif;
        padding-top: 4px;
        font-size: 11px;
        font-style: normal;
        font-weight: normal;
        line-height: 125%;
        color: #18191F;
    }
.row {

        flex-wrap: wrap;
    }
.coll-6 {
        flex: 0 0 auto;
        width: 65%;
        text-align: initial;
    }
.coll-3-xm {
        flex: 0 0 auto;
        width: 35%;

    }
footer {
        background: #14080E;
    }
footer .separator {
        border-top: 1px solid #353535;
    }
.footer {
        padding: 32px 40px;
    }
.coll-6 .phone a {
        font-style: normal;
        text-decoration: none;
        font-weight: 600;
        font-size: 10px;
        line-height: 125%;
        color: #FFFFFF;
        display: block;
    }
.coll-6 .email {
        font-family: 'Raleway-Regular', serif;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 125%;
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
    }
.coll-6 .address {
        font-family: 'Raleway-Regular', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 125%;
        color: #FFFFFF;
    }
.coll-3-xm .facebook{
        display: block;
        padding-bottom: 20px;
        text-align: right;
    }
.coll-3-xm .instagram {
        text-align: right;
    }
.pallet {
        padding: 10px 41px;
        background: #14080E;
    }
.pallet span {
         font-family: 'OpenSans', serif;
        color: #FFFFFF;
        font-size: 10px;
        line-height: 125%;
         font-weight: 600;
         padding-left: 8px;
    }
.copyright p {
         font-family: 'OpenSans', serif;
         font-size: 11px;
         line-height: 125%;
         text-align: center;
         color: #14080E;
         padding-top: 10px;
         background-color: #FFFFFF;
         height: 30px;
     }
.main-heading .logo a {
    display: flex;
    font-size: 11px;
    font-style: italic;
    color: white;
}
.main-heading .logo a span {
    padding-left: 6px;
}
.main-heading .phone a {
    font-family: 'Raleway-Regular', serif;
    font-size: 18px;
    text-transform: none;
    color: white !important;
    border-bottom: 2px dashed white;
}
.admin {
    margin-right: 50px;
}
.admin p {
    font-family: 'Raleway-Regular', serif;
    padding-left: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.admin img {
    cursor: pointer;
}
.inside {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    width: 800px;
}
.maps {
    width: 1100px;
    height: 450px;
    border-right: 2px;
    margin-bottom: 200px;
}
.maps iframe {
    width: 100%;
    height: 100%;
}
.inside h1 {
    font-family: 'Raleway-Bold', serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    padding-bottom: 80px;
    color: black;
    display: flex;
    justify-content: center;
}
.inside h2 {
    font-family: 'Raleway-Regular', serif;
    font-size: 18px;
}
.order-wrap {
    padding-bottom: 20px;
}
.order-wrap .order .button-order {
    font-family: 'OpenSans', serif;
    width: 280px;
    height: 40px;
    background: #F26430;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease;
}
.order-wrap {
    padding-right: 25px;
    border-bottom: 1px solid #dbd7d7;
    padding-left: 25px;
}
.form-item #person-phone {
    width: 258px;
    height: 30px;
    display: inline-flex;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e1e1e1;
}
.form-item {
    position: relative;
    padding-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
label {
    font-family: 'OpenSans', serif;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 55px;
    transition: top 0.5s;
    padding-left: 5px;
}
input {
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    border: 1px solid #ccc;
    border-bottom: none;
}
input:focus {
    outline: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
}
input:focus+label,
input:not(:placeholder-shown)+label {
    top: 10px;
}
::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-webkit-input-placeholder {
    opacity: 1;
}
.consultation {
    padding: 25px 25px 10px 25px;
    border-bottom: 1px solid #dbd7d7;
}
.consultation h2 {
    padding-bottom: 20px;
}
.consultation a {
    font-family: 'OpenSans-Bold', serif;
    color: black;
    font-weight: 600;
    font-style: normal;
}
.schedule {
    padding: 25px 25px 80px 25px;
}
.schedule h2 {
    padding-bottom: 35px;
}
.schedule .schedule-time {
    display: flex;
}
.schedule .schedule-time p {
    font-family: 'OpenSans-Bold', serif;
    padding-right: 70px;
    font-weight: 600;
}
.background_footer {
    background-color: #FFFFFF;
}
.footer {
    text-align: center;
}
.footer .contacts {
    margin-bottom: 20px;
}
.footer .contacts a {
    font-family: 'Raleway-Regular', serif;
    font-size: 20px;
    font-weight: 600;
    border-right: 2px solid blue;
    color: black;
    margin-right: 10px;
    padding-right: 10px;

}
.footer .contacts a:last-child {
    border-right: none;
}
.footer .social-network img {
    margin-left: 10px;
    border-right: 2px solid blue;
    padding-right: 10px;
    box-sizing: unset;
    width: 35px;
}
.footer .social-network img:last-child {
    border-right: none;
}
.row-about-us {
    margin: auto;
    width: 900px;
    padding-top: 115px;
}
.row {
    display: flex;
}
.row-about-us h1 {
    font-family: 'Raleway-Bold', serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    padding-bottom: 80px;
    color: black;
    display: flex;
    justify-content: center;
}
.row-about-us p {
    font-family: 'OpenSans', serif;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 45px;
}
.row-about-us p:last-child {
    padding-bottom: 100px;
}
.row-about-us p span {
    font-weight: 700;
}
.about-us {
    background-color: black;
    padding: 35px 25px;
}
.about-us .footer {
    padding: 0;
}
.about-us .bloc-phone p a {
    border-bottom: none;
}
.about-us .bloc-address {
    text-align: left;
}
.main-wrap {
    position: absolute;
    right: 0;
    top: 60px;
    background: white;
    padding: 20px 16px 11px;
    width: 360px;
    box-shadow: 8px 6px 5px 0 grey,
    -8px 6px 5px 0 grey;
    display: none;
}
.main-wrap.show {
    display: block;
    max-width: 360px;
}
.user-auth {
    text-align: right;
    margin-bottom: 20px;
}
.user-auth img {
    margin-right: 15px;
}
.user-auth a {
    font-family: 'OpenSans', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    color: #111111;
}
.main-wrap ul li {
    border-top: 1px solid #DBD7D7;
    padding: 24px 0;
}
.main-wrap ul li:last-child {
    border-bottom: 1px solid #DBD7D7;
    margin-bottom: 64px;
}
.main-wrap ul li a {
    font-family: 'OpenSans', serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: #14080E;
    padding: 0 24px;
    width: 264px;
}
.show-cross .burger {
    display: none;
}
.cross {
    height: 26px;
    display: none;
}
.show-cross .cross {
    display: block;
}
.contact-wrap {
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    background: white;
    padding: 20px 16px 11px;
    width: 360px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}
.contact-wrap.show {
    display: block;
    max-width: 360px;
}
.contact-wrap h2 {
    font-family: 'Raleway-Regular', serif;
    font-size: 16px;
    line-height: 125%;
    color: #14080E;
    margin-bottom: 12px;
}
.tell-bloc p a {
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: #14080E;
}
.tell-bloc {
    padding-bottom: 15px;
    border-bottom: 1px solid #DBD7D7;
    margin-bottom: 15px;
}
.work-schedule {
    border-bottom: 1px solid #DBD7D7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.work-schedule p {
    font-family: 'OpenSans-Bold', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: black;
}
.feedback form {
    display: block;
    text-align: center;
}
.feedback .form-item #person-phone {
    margin-bottom: 8px;
    margin-right: 0;
    background-color: #FFFFFF;
    border: 1px solid #DBD7D7;
}
.feedback form .button-order {
    background: #F26430;
    border-radius: 5px;
    width: 270px;
    height: 48px;
    border: inherit;
    color: white;
    font-size: 15px;
    line-height: 100%;
    font-weight: bold;
    transition: all 500ms ease;
}
.social-networks {
    margin-top: 28px;
    margin-bottom: 28px;
    text-align: center;
    letter-spacing: 16px;
}
.order-wrap .order .button-order:hover {
    background: rgba(0,0,0,0);
    color: #F26430;
    box-shadow: inset 0 0 0 3px #F26430;
}
.button:hover {
    background: rgba(0,0,0,0);
    color: white !important;
    box-shadow: inset 0 0 0 3px white;
}
.bloc-left .button-come-back:hover {
    background: rgba(0,0,0,0);
    color: #F26430 !important;
    box-shadow: inset 0 0 0 3px #F26430;
}
.footer-attach {
    margin-top: auto;
}
a:hover {
    color: #009DDC !important;
}
.feedback form .button-order:hover {
    background: rgba(0,0,0,0);
    color: #F26430 !important;
    box-shadow: inset 0 0 0 3px #F26430;
}
a {
    font-family: 'OpenSans-Bold', serif;
}
.phone {
    cursor: pointer;
}
.trigger {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
        margin: 0 auto;
    }
    .desktop {
        display: block;
    }
    .main-heading {
        height: 60px;
    }
    .main-heading .logo {
        padding-bottom: 10px;
    }
    .mobile {
        display: none;
    }
    .partnership {
        width: 50%;
    }
    .advertising {
        width: 50%;
    }
    .main-page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 86px 40px 18px;
    }
    .main-page h1 {
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 24px;
    }
    .main-page p {
        font-family: 'OpenSans', serif;
        font-size: 16px;
        margin-bottom: 30px;
        width: 443px;
    }
    .button {
        width: 284px;
        font-weight: bold;
        background-color: #FFFFFF;
        border-radius: 5px;
        color: #14080E;
        font-size: 16px;
        border: none;
        margin-bottom: 127px;
        transition: all 500ms ease;
    }
    .responsive-image {
        float: right;
        max-width: 534px;
    }
    .holder {
        padding: 100px 0 280px 0 ;
    }
    .holder .bloc-left{
        width: 50%;
        display: block;
        padding-right: 40px;
    }
    .holder h1 {
        width: 530px;
        font-weight: 800;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #14080E;
        margin-bottom: 60px;
    }
    .bloc-left .video-iframe {
        width: 100%;
        height: 275px;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .bloc-left .button-come-back {
        display: grid;
        text-align: center;
        background: #F26430;
        border-radius: 5px;
        align-items: center;
        width: 284px;
        height: 44px;
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
        color:  #FFFFFF;
        margin: auto;
        transition: all 500ms ease;
    }
    .holder .bloc-right {
        width: 50%;
        padding-left: 40px;
    }
    .bloc-right h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #18191F;
        padding-bottom: 8px;
    }
    .bloc-right p {
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        color: #18191F;
    }
    footer .separator {
        border: none;
    }
    .footer {
        padding: 36px 0 20px 0 ;
    }
    .m-b-20 p {
        margin-bottom: 20px;
    }
    .coll-6 {
        display: flex;
        width: 50%;
        align-items: baseline;
    }
    .bloc-phone {
        width: 149px;
    }
    .bloc-address {
        margin-left: 28px;
    }
    .bloc-address .address {
        font-weight: bold;
        font-size: 12px;
        line-height: 125%;
        color: #FFFFFF;
    }
    .bloc-address .email {
        font-weight: bold;
        font-size: 12px;
        line-height: 125%;
        color: #FFFFFF;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .coll-6-sm {
        display: flex;
        justify-content: right;
        width: 50%;
    }
    .coll-6-sm .facebook {
        padding-bottom: 0;
    }
    .coll-6-sm .facebook a {
        display: block;
        padding-right: 30px;
        justify-content: right;
    }
    .coll-6-sm .instagram {
        justify-content: right;
    }
    .pallet {
        border: inherit;
        text-align: right;
        padding: 0 0 23px 0;
        font-size: 12px;
        line-height: 125%;
    }
    .copyright {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FFFFFF;
    }
    .copyright p {
        font-size: 12px;
        line-height: 125%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .inside h1 {
        margin-top: 100px;
    }
    .main-heading {
        width: 100%;
    }

    .main-page {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .holder {
        width: 100%;
    }

    .row {
        width: 100%;
        justify-content: center;
        flex-wrap: inherit;
        display: flex;
    }

    .row .bloc-left {
        width: 50%;
        text-align: center;
    }

    .video-iframe {
        width: 80%;
        height: 70%;
    }

    .row .bloc-right {
        width: 50%;
    }

    .footer {
        width: 100%;
    }

    .row .coll-6 {
        align-items: baseline;
        display: flex;
    }

    .row .coll-6 .bloc-address {
        padding-left: 20px;
    }

    .row .coll-6 .bloc-address .email {
        margin-bottom: 12px;
    }

    .row .coll-3-xm {
        display: flex;
        justify-content: end;
    }

    .row .coll-3-xm .facebook {
        padding-right: 20px;
    }

    .tablet-version {
        width: 100%;
        padding: 0 30px;
    }

    .tablet-version .inside {
        display: contents;
    }

    .order-wrap .form-item {
        display: flex !important;
        justify-content: flex-start;
    }

    .inside .order-wrap .order .button-order {
        margin-top: 0 !important;
        margin-left: 40px;
    }
}
@media (max-width: 1200px) {
    .main-heading .d-flex .admin {
        margin-right: 20px;
    }
    .main-wrap.show {
        top:  55px;
    }
    .main-heading .logo a span {
        display: none;
    }
    .contact-wrap.show {
        top: 55px;
    }
    .main-heading .d-flex .admin p {
        display: none;
    }
    .main-heading .mobile-version {
        display: none;
    }
    .container .inside {
        padding: 16px 16px 16px 16px;
        width: 320px;
        margin-top: 65px;
    }
    .inside .order-wrap {
        padding: 0;
    }
    .inside .order-wrap .order {
        display: block;
    }
    .inside .order-wrap .order #person-phone{
        margin-right: 0;
        width: 271px;
    }
    .inside .order-wrap .order .button-order {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .inside .consultation {
        padding: 20px 0;
    }
    .inside .schedule {
        padding: 20px 0 40px 0;
    }
    .inside .schedule .schedule-time {
        display: block;
    }
    .inside .schedule .schedule-time p {
        padding-bottom: 10px;
    }
    .maps {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    .maps iframe {
        width: 100%;
        height: 100%;
    }
    .footer {
        padding: 32px 40px;
    }
    .footer .contacts a {
        font-size: 11px;
    }
    .footer .contacts a:last-child {
        padding-right: 0;
    }

    .page-about-us {
        padding: 0;
    }

    .about-us {
        padding: 25px 16px;
    }
    .row-about-us {
        width: auto;
        padding: 75px 16px 40px 16px;
    }
    .row-about-us h1 {
        font-size: 20px;
        padding-bottom: 40px;
    }
    .row-about-us p {
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
    .row-about-us p:last-child {
        padding-bottom: inherit;
    }
    .about-us  .footer .row  .coll-6 .bloc-phone {
        text-align: justify;
    }
    .about-us .bloc-address a {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .about-us  .footer .row  .coll-3-xm .facebook {
        padding-bottom: 10px
    }
}













